include mixins/_nav

html
	head
		block styles
			link(rel="stylesheet", href="../public/styles/app.css")
			link(rel="stylesheet", href="../public/font-awesome-4.7.0/css/font-awesome.min.css")


	body
		div.background__gradient
		+nav(nav)
		div#app
			block content
			

	block scripts
		script(src="/index.js")


